.wrapper {
  background-color: var(--surface-beige);
}

.nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24px;

  max-width: var(--screen-lg);
  margin-inline: auto;
  padding-inline: 120px;
  padding-bottom: 48px;
}

@media (max-width: 996px) {
  .nav {
    gap: 16px;
    padding-inline: 16px;
    padding-bottom: 35px;
    flex-wrap: wrap-reverse;
  }
}
