.section {
  background-color: var(--surface-beige);
}

.content {
  min-height: 704px;
  max-width: var(--screen-lg);
  margin: 0 auto;
  position: relative;

  padding-block: 133px;
  padding-inline: 20px;
}

.imageWrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 100%;
  pointer-events: none;
  z-index: 0;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.slogan {
  color: var(--text-primary);
  font-size: var(--font-size-h1);
  line-height: 77px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 1;

  margin-left: 11%;
  max-width: 60%;
}
