.section {
  background-color: var(--surface-beige);
}

.opportunities {
  max-width: var(--screen-lg);
  margin-inline: auto;

  padding-block: 48px;
  padding-inline: 120px;
}

.contentWrapper {
  overflow-x: auto;

  padding:10px;
  margin: -10px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
}

@media (max-width: 996px) {
  .opportunities {
    padding: 0;
  }

  .content {
    padding-top: 16px;
    padding-inline: 16px;
    padding-bottom: 32px;
    flex-direction: column;
    align-items: center;
  }
}
