.section {
  background-color: var(--surface-beige);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;

  padding-block: 48px;
  padding-inline: 120px;

  max-width: var(--screen-lg);
}

@media (max-width: 996px) {
  .wrapper {
    padding-inline: 32px;
    gap: 32px;
  }
}
