.card {
  display: grid;
  row-gap: 24px;
  column-gap: 16px;

  grid-template-columns: 5fr 2fr 5fr;
  grid-template-rows: 1fr 2.2fr auto;
  grid-template-areas:
    "title        image   image"
    "description  image   image"
    "agenda       agenda  promo"
  ;
}

.title {
  grid-area: title;

  font-size: var(--font-size-h2);
  line-height: (--line-height-heading);

  margin-bottom: 0;
}

.image {
  grid-area: image;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.description {
  grid-area: description;

  font-size: var(--font-size-h3);
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-semibold);
}

.agenda {
  grid-area: agenda;

  border: 1px solid var(--brand-primary);
  border-radius: 8px;

  padding: 32px;
  padding-inline-end: 16px;
}

.agendaTitle {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-heading);
}

.agendaList {
  padding-inline-start: 21px;
  list-style: none;
  margin-bottom: 0;
}

.agendaItem {
  position: relative;
}

.agendaItem::before {
  content: '';
  position: absolute;
  left: -21px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 12px;
  background-image: url('./assets/Marker.svg');
}

.promo {
  grid-area: promo;

  border-radius: 8px;

  background-color: var(--brand-primary);
  color: var(--text-inverse);

  padding-block: 30px;
  padding-inline: 16px;
}

@media (max-width: 996px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 32px;
    grid-template-areas:
      "title"
      "image"
      "description"
      "agenda"
      "promo";
  }

  .title {
    font-size: var(--font-size-h1);
  }

  .description {
    font-size: 16px;
    line-height: 140%;
  }

  .agenda {
    padding-block: 32px;
    padding-inline: 16px;

    line-height: 145%;
  }

  .agendaTitle {
    margin-bottom: 5px;
  }

  .agendaItem::before {
    top: 8px;
  }

  .agendaList {
    padding-inline-start: 16px;
  }
}
