.section {
  background-color: var(--surface-beige);
}

.wrapper {
  padding-top: 64px;
  padding-bottom: 130px;
  padding-inline: 120px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  column-gap: 24px;

  grid-template-areas:
    " coffee coffee coffee coffee coffee coffee stripe stripe stripe stripe stripe stripe "
    " .      .      tax    tax    tax    tax    tax    tax    tax    tax    .      .      "
  ;
}

.coffee {
  grid-area: coffee;
}

.stripe {
  grid-area: stripe;
}

.tax {
  grid-area: tax;
}
