.header {
  background-color: var(--surface-beige);

  display: flex;
  flex-direction: row;

  padding: 32px;
  gap: 24px;
  border-radius: 5px;
}

.headerContentWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  gap: 16px;

}

@media (max-width: 996px) {
  .header {
    flex-wrap: wrap;
    justify-content: stretch;

    flex-direction: column;
  }
}
