.header {
  background-color: var(--surface-beige);
}

.backLink {
  position: absolute;
  top: 8px;
  left: 32px;
}

.headerContent {
  position: relative;
  display: flex;
  flex-direction: row;

  padding: 32px;
  gap: 24px;

  max-width: var(--screen-md);
  margin-inline: auto;
}

.headerContentWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  gap: 16px;


}

@media (max-width: 996px) {
  .headerContent {
    flex-wrap: wrap;
    justify-content: stretch;

    flex-direction: column;
  }
}
