.card {
  width: 282px;
  border-radius: 5px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;

  background-color: var(--base-white);

  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  overflow: hidden;
}

.previewImage {
  width: 100%;

  min-width: calc(100% + 32px);
  margin-top: -16px;
  margin-inline: -16px;
}

.tagsGroup {
  gap: 8px;
}

.title {
  font-size: var(--font-size-h3);
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
  transform: translateZ(0) scale(1.02);
  text-decoration: none;
}
