.sidebar {
  color: var(--brand-primary);
  background-color: var(--surface-beige);
}

.primaryMenu :global(.menu__list) {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 21px;
}

.primaryMenu :global(.menu__link) {
  text-transform: uppercase;
  font-weight: var(--font-weight-semibold);
  font-size: 24px;
  line-height: 120%;
}

.primaryMenu :last-child {
  margin-inline: auto;
}
