.content {
  padding-top: 48px;
  padding-bottom: 16px;
  padding-inline: 204px;
}

@media (max-width: 996px) {
  .content {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-inline: 0;
  }
}
