.content {
  padding-top: 48px;
  padding-bottom: 16px;

  max-width: 792px;
  margin-inline: auto;
}

@media (max-width: 996px) {
  .content {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-inline: 16px;
  }
}
