.card {
  width: 384px;
  min-width: 384px;

  background-color: var(--base-white);
  border-radius: 5px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow: hidden;

    transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
  transform: translateZ(0) scale(1.02);
  text-decoration: none;
}

.previewImage {
  width: 100%;
  height: 216px;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button {
  margin-top: auto;
  pointer-events: none;
  color: currentColor;
  border-color: currentColor;
}

@media (max-width: 996px) {
  .card {
    max-width: calc(100vw - 32px);
    min-width: unset;
  }
}
