.card {
  width: 384px;
  min-width: 384px;

  background-color: var(--base-white);
  border-radius: 5px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow: hidden;
}

.previewImage {
  width: 100%;
  height: 216px;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button {
  margin-top: auto;
}

@media (max-width: 996px) {
  .card {
    max-width: calc(100vw - 32px);
    min-width: unset;
  }
}
