.wrapper {
  max-width: var(--screen-lg);
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 88px;
  padding-inline: 120px;

  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 32px;
  font-size: var(--font-size-h1);
  line-height: var(--line-height-heading);
}

.content {
  margin-bottom: 72px;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-body);
}

.imageWrapper {
  padding-block: 184px;
  position: relative;
}

.image {
  margin-inline: auto;
  width: 56%;
  object-fit: contain;
}

.badge1 {
  top: 0.3%;
  left: 47%;
}

.badge2 {
  top: 17.1%;
  left: 80.6%;
}

.badge3 {
  top: 55.5%;
  left: 80.6%;
}

.badge4 {
  top: 88.8%;
  left: 45.7%;
}

.badge5 {
  top: 51%;
  left: 4.5%;
}

.badge6 {
  top: 17.4%;
  left: 8.7%;
}

.pointers {
  position: absolute !important;
  top: 9%;
  bottom: 0;
  left: 0;
  right: 7.5%;
}

.pointers :global(img) {
  height: 100% !important;
  padding-bottom: 5.8%;
}

.pointersMobile {
  position: absolute !important;
  top: 214px;
  width: 71px;
}

@media (min-width: 997px) {
  .imageWrapper {
    transform: scale(
      clamp(
        0.5,
        calc(pow(100vw / 1440px, 1)),
        1
      )
    );
  }
}

@media (max-width: 996px) {
  .wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-inline: 16px;

    display: flex;
    flex-direction: column;
  }

  .title {
    text-transform: uppercase;
  }

  .content {
    font-size: 16px;
    line-height: 140%;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 16px;
  }

  .image {
    width: 231px;
  }

  .imageWrapper {
    padding-block: 0;
    margin-inline: auto;
  }
}
