.wrapper {
  max-width: var(--screen-lg);
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 88px;
  padding-inline: 120px;

  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 32px;
  font-size: var(--font-size-h1);
  line-height: var(--line-height-heading);
}

.content {
  margin-bottom: 72px;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-body);
}

.imageWrapper {
  padding-block: 184px;
  position: relative;

  transform: scale(
    clamp(
      .5,
      calc( 100vw / 1440px ),
      1
    )
  );
}

.image {
  margin-inline: auto;
  width: 671px;
  object-fit: contain;
}

.badge1 {
  top: 1px;
  left: 567px;
}

.badge2 {
  top: 179px;
  left: 970px;
}

.badge3 {
  top: 575px;
  left: 969px;
}

.badge4 {
  top: 916px;
  left: 548px;
}

.badge5 {
  top: 526px;
  left: 54px;
}

.badge6 {
  top: 181px;
  left: 104px;
}

.pointers {
  position: absolute !important;
  top: 90px;
  left: 0;
  right: 89px;
}

@media (max-width: 996px) {
  .wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-inline: 16px;

    display: flex;
    flex-direction: column;
  }

  .title {
    text-transform: uppercase;
  }

  .content {
    font-size: 16px;
    line-height: 140%;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 16px;
  }
}
