.section {
  position: relative;
  background-color: var(--brand-dark);
  color: var(--base-light);

  /* Height that allows for scroll-triggered horizontal scroll */
  height: 400vh;
  overflow: visible;
}

.stickyContainer {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.scrollContent {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 48px;

  padding-top: 64px;
  padding-bottom: 48px;
  padding-inline: 120px;

  min-height: 704px;
  min-width: 4340px;
  will-change: transform;
}

.scrollContent > * {
  z-index: 1;
  position: relative;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 896px;
}

.title {
  color: inherit;

  font-size: var(--font-size-h1);
  line-height: var(--line-height-heading);

  margin-bottom: 0;
}

.description {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-semibold);
}

.map {
  position: absolute;
  top: 78px;
  bottom: 48px;
  left: 591px;
  z-index: 0;
}

.timeline {
  position: absolute;
  z-index: 0;
  left: 970px;
  top: 336px;
}

.location {
  position: absolute;
  z-index: 0;
  left: 1058px;
  top: 275px;
}

.calendar {
  position: absolute;
  z-index: 0;
  left: 1209px;
  top: 101px;
}

.ptushka {
  position: absolute;
  z-index: 0;
  left: 1592px;
  top: 218px;
}

.milestone {
  position: absolute;
  max-width: 265px;

  display: flex;
  flex-direction: column;
}

.milestoneTitle {
  color: var(--text-tag);
  font-family: var(--font-handwritten);
  font-size: 50px;
  line-height: var(--line-height-handwritten);
  margin-bottom: 0;
  word-break: keep-all;
  white-space: nowrap;
}

.milestonePicture {
  margin-inline: auto;
}

.milestoneDescription {
  color: var(--text-inverse);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-heading);
  margin-bottom: 0;
}

.m1 {
  left: 1937px;
  top: 208px;
}

.m1 .milestonePicture {
  margin-inline-start: 76px;
  margin-bottom: 25px;
}

.m1 .milestoneTitle {
  margin-bottom: 65px;
}

.m2 {
  left: 2277px;
  top: 231px;
}

.m2 .milestoneTitle {
  margin-bottom: 68px;
}

.m2 .milestonePicture {
  margin-inline-start: 99px;
  margin-bottom: 34px;
}

.m3 {
  left: 2623px;
  top: 273px;
}

.m3 .milestonePicture {
  margin-inline-start: 44px;
  margin-bottom: 42px;
}

.m4 {
  left: 2949px;
  top: 142px;
}

.m4 .milestonePicture {
  margin-inline-start: 89px;
  margin-bottom: 13px;
}

.m4 .milestoneTitle {
  margin-bottom: 95px;
}

.m5 {
  left: 3307px;
  top: 263px;
}

.m5 .milestoneTitle {
  margin-bottom: 112px;
}

.m5 .milestonePicture {
  margin-inline-start: 0;
  margin-bottom: 28px;
}

.m6 {
  top: 214px;
  left: 3619px;

  min-width: 300px;
}

.m6 .milestoneTitle {
  margin-bottom: 24px;
}

.m6 .milestonePicture {
  margin-inline-start: 211px;
  margin-bottom: 62px;
}

.m6 .milestoneDescription {
  margin-left: 59px;
}

.m7 {
  top: 117px;
  left: 4032px;
  margin-right: 120px;
}

.m7 .milestonePicture {
  margin-inline-start: 0;
  margin-bottom: 36px;
}

.m7 .milestoneTitle {
  margin-left: 37px;
  margin-bottom: 99px;
}

@media (max-width: 996px) {
  .scrollContent {
    padding-top: 82px;
    padding-inline: 16px;
    min-width: 3750px;
  }

  .descriptionWrapper {
    max-width: calc(100vw - 32px);
  }

  .map {
    left: 0;
  }

  .timeline {
    left: 380px;
  }

  .location {
    left: 468px;
  }

  .calendar {
    left: 619px;
  }

  .ptushka {
    left: 1002px;
  }

  .m1 {
    left: 1347px;
  }

  .m2 {
    left: 1687px;
  }

  .m3 {
    left: 2033px;
  }


  .m4 {
    left: 2359px;
  }

  .m5 {
    left: 2717px;
  }

  .m6 {
    left: 3029px;
  }

  .m7 {
    left: 3442px;
  }
}
