.image {
  object-fit: cover;
  margin-left: auto;

  border-radius: 5px;
  overflow: hidden;

  height: 416px;
}

@media (max-width: 996px) {
  .image {
    margin-inline: auto;
    max-height: none;
    object-fit: contain;
    height: auto;
    max-height: 416px;
  }
}
