.image {
  object-fit: cover;
  margin-left: auto;

  flex-grow: 1;
  flex-basis: 0;

  border-radius: 5px;
  overflow: hidden;

  height: 416px;
}

@media (max-width: 996px) {
  .image {
    margin-inline: auto;
    max-height: none;
    object-fit: contain;

    height: 416px;
    overflow: visible;
  }
}
