.image {
  height: 416px;
  max-width: 656px;
  object-fit: contain;

  flex-grow: 1;
  flex-basis: 0;
}

@media (max-width: 996px) {
  .image {
    max-width: 100%;
    height: auto;
    max-height: none;
  }
}
