.card {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 32px;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-semibold);
}

.description {
  margin-bottom: 42px;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-semibold);
}

.social {
  margin-bottom: 42px
}

.conclusion {
  margin-bottom: 16px;
}


@media (max-width: 996px) {
  .title {
    font-size: var(--font-size-h1);
    margin-bottom: 16px;
  }

  .description {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 140%;
  }

  .conclusion {
    padding-inline: 16px;
    padding-block: 30px;

    border-radius: 5px;

    color: var(--text-inverse);
    background-color: var(--brand-primary);
  }

  .social {
    margin-bottom: 32px;
  }
}
