.card {
  position:relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 16px;

  border: 1px solid var(--brand-primary);
  border-radius: 8px;

  padding: 16px;
  margin: 16px;

  box-shadow: 16px -13px 20px rgba(0, 0, 0, 0.25);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.title {
  font-size: var(--font-size-h2);
}

.content {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-heading);

  max-width: 352px;
}

.contentFullWidth {
  max-width: none;
}

.preview {
 flex-grow: 1;
 flex-shrink: 0;
 flex-basis: 0;
}
