.link {
  color: inherit;

  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-heading);
}

.link:hover {
  color: var(--accent-primary);
}

/* Active link highlight */
.link:global(.navbar__link--active) {
  color: var(--accent-primary);
}

/* Donate button styles */
.donateButton {
  padding-inline: 16px;
  padding-block: 6px;
  border-radius: 5px;
  border: 1px solid currentColor;
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.donateButton:global(.navbar__link--active) {
  color: var(--accent-primary);
  border-color: var(--accent-primary);
}

.donateButton:hover {
  color: var(--accent-primary);
  border-color: var(--accent-primary);
}


@media (max-width: 996px) {
  :global(.navbar__items) .link {
    display: none;
  }
}
